
@font-face {
    font-family: oswald;
    src: url(./Fonts/Oswald/Oswald-VariableFont_wght.ttf);
}

@font-face {
    font-family: bebas;
    src: url(./Fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: dongle;
    src: url(./Fonts/Dongle/Dongle-Regular.ttf);
}

.section_index{
    display: flex;
    flex-direction: column;
    height: 100vh ;
    width: 100%;
    background-image: url(./img/eggs-1467286_1920.jpg);
    background-size: cover;
    background-position: center;
}

.navbar{
    font-family: oswald, sans-serif;
    height: auto;
    min-height: 50px;
    background-color: rgba(99, 0, 0, 0.521);
    font-weight: bold;
    text-shadow: 2px 2px 5px black;
    box-shadow: -4px 4px 5px rgba(11, 11, 11, 0.521);
}

.navbar-toggler{
    text-shadow: 2px 2px 5px black;
}

.container{
    background-color: rgba(99, 0, 0, 0.521);
    margin-top: 100px;
    max-height: 250px;
    height: auto;
    color: aliceblue;
    box-shadow: -4px 4px 5px rgba(11, 11, 11, 0.521);
    text-shadow: 2px 2px 5px black;
    padding: 20px;
}

.container_title{
    font-family: oswald, sans-serif;
    font-size: 20px;
}

.container_text{
    margin-top: 30px;
    font-size: 20px;
    font-family: dongle, sans-serif;
}

.footer_index{
    min-height: 50px;
    height: auto;
    background-color: rgba(99, 0, 0, 0.521);
    padding: 10px 10px;
    color: aliceblue;
    text-shadow: 2px 2px 5px black;
    box-shadow: -4px 4px 5px rgba(11, 11, 11, 0.521);
    margin-top: 10px;
    font-family: oswald, sans-serif;
    bottom: 0;
    margin-top: auto;
    
}

.footer_index h2{
    margin-top: 10px;
    font-size: 10px;
}

/* FIN DE EL INDEX.HTML */
/* INCIO DE EL CONTACTO.HTML */

.section_cont{
    display: flex;
    flex-direction: column;
    height: auto ;
    width: 100%;
    background-image: url(./img/eggs-1467286_1920.jpg);
    background-size: cover;
    background-position: center;
}

.container_title--cont{
    font-family: oswald, sans-serif;
    font-size: 20px;
}

.container_text--cont{
    margin-top: 30px;
    font-size: 20px;
    font-family: dongle, sans-serif;
}

.container_info{
    margin-bottom: 50px;
    margin-left: 30px !important;
}

.container_title--info{
    font-family: oswald, sans-serif;
    font-size: 20px;
}

.container_text--info{
    margin-top: 30px;
    font-size: 20px;
    font-family: dongle, sans-serif;
    list-style: none;
}